<?xml version='1.0' encoding='utf-8'?>
<widget id="mobi.koni.localtv" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LocalTV</name>
    <description>
        Local TV stations.
    </description>
    <author email="app@koni.mobi" href="http://koni.mobi">
        Koni
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icon.png" /><!-- default; don't change location! -->
    
    
<!-- 	<icon gap:platform="ios" height="57" src="ico/localtv-57.png" width="57" /> -->
<!-- 	<icon gap:platform="ios" height="72" src="ico/localtv-72.png" width="72" /> -->
<!-- 	<icon gap:platform="ios" height="114" src="ico/localtv-114.png" width="114" /> -->
<!-- 	<icon gap:platform="ios" height="144" src="ico/localtv-144.png" width="144" />  -->
</widget>
