<?xml version='1.0' encoding='utf-8'?>
<widget id="mobi.koni.localtv" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LocalTV</name>
    <description>Local TV stations.</description>
    <author email="apps@koni.mobi" href="http://localtv.koni.mobi">
        Koni
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <icon src="icon.png" /><!-- default; don't change location! -->
    
<!--     <icon gap:platform="ios" height="57" src="ico/icon-57.png" width="57" /> -->
<!-- 	<icon gap:platform="ios" height="72" src="ico/icon-72.png" width="72" /> -->
<!-- 	<icon gap:platform="ios" height="114" src="ico/icon-57@2x.png" width="114" /> -->
<!-- 	<icon gap:platform="ios" height="144" src="ico/icon-72@2x.png" width="144" />  -->
</widget>
